
.class{
	height: 20vh;
	align-items: center;
}
/*.headerLayout{
	
}*/


.headerText{
	font-size: 40px;
	text-align: center;
}

.contentLayout{
	height: 50vh;
  	align-items: center;
	  text-align: center;

}
.rightContentLayout{
	width: 500px;
	height: 600px;
	position: relative;
  	padding-top: 10vh;
	font-size:25px ;
	
	
}
.pic1Layout{
	width: 500px;
	height: 300px;
	position: absolute;
	z-index: 100;
	top: 35%;
	opacity: 100%;
}
.pic2Layout{
	width: 500px;
	height: 300px;
	position: absolute;
	bottom: 20%;
	right: -30%;
	z-index: 0;
}
.videocol{
	font-size: 30px;
}
