.class{
	heigth: 20vh;
	align-items: center;
}
.headerLayout{
}
.headerText{
	font-size: 50px;
	text-align: center;
}

.contentLayout{
	heigth: 50vh;
  	align-items: center;
}
.rightContentLayout{
	width: 500px;
	height: 800px;
	position: relative;
  	padding-top: 10vh;
}
.pic1Layout{
	width: 500px;
	height: 300px;
	position: absolute;
	z-index: 100;
	top: 35%;
	opacity: 100%;
  	transition-property: opacity ;
  	transition-duration: 1s;
}
.pic1Layout:hover{
	opacity: 0%;
}
.pic2Layout{
	width: 500px;
	height: 300px;
	position: absolute;
	bottom: 20%;
	right: -30%;
	z-index: 0;
  	transition-property: width height z-index ;
  	transition-duration: 1s;
}
.pic2Layout:hover{
	width: 530px;
	height: 330px;
	position: absolute;
	bottom: 20%;
	right: -30%;
	z-index: 1000;
}
