*{
  box-sizing:  border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', snans-serif;
}


.AppLaout{
  /*background-color: rgb(71, 50, 40);*/
  /*background-image: url('./img/bgPic.jpg');*/
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url(./img/bgPic.jpg);
  display: flex;
  height: 91.5vh;
  min-width: 600px;
  /*padding-left: 250px;*/

 
  color: #FFF;
  /*align-items: center;*/
  justify-content: center;
  font-size: 3rem;


  /*animation: fadeIn 5s;*/
}
.pageTitle{
  text-align: center;
}


.pageMainLayout{
  height: 60vh;
  width: 100%;
  padding: 20px;
  /*border: 1px solid #FFF;*/
  transition: all 1s;
  box-shadow: 2px 2px 2px 2px #888888;
}
.pageMainFigure{
  /*align-items: center;*/
  /*background-color: darkblue;*/
  align-items: center;
  /*height: 500px;
  width: 80%;*/
  /*border: 1px solid #FFF;*/
  box-shadow: 2px 2px 2px 2px #888888;
}

/*組員介紹頁*/
.memberMainLayout{
  height: 60vh;
  width: 100%;
  margin-top: 100px;
  overflow-y: scroll;
  transition: all 1s;
  /*box-shadow: 2px 2px 2px 2px #888888;*/
  
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(232, 236, 241, 0.25);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.25);
}

.memberSection{
  height: 50vh;
  margin: 20px; 
  padding: 20px;
  /*border: 1px solid #FFF;*/
}
.avatarSection{
  border: 1px solid #333;
  /*height: 100%;*/
}
.memberIntro{
  border: 1px solid red;
  height: 100%;
}
.introTitle{
  font-size: 1.5rem;  
}